header{
	text-align:center;
}

body{
	background-color:green;
}

.navBar{
	display: -webkit-flex;
	display: flex;
	width: 150px;
	height: 100%;
	background-color: lightgrey;
	border: 2px black solid;
}

.navBar > ul{
	list-style = "none";
	position: relative;
}
.linkItem{
	position: relative;
	display: -webkit-flex;
	display: flex;
	width: 150px;
	height: 30px;
	background-color: blue;
	border: 2px black solid;
	margin: 5px;
}