body{
	height: 98vh;
	width: 97.2vw;
	padding: .5vw;
	font: bold 2em Georgia serif;
	border: medium black solid;
}

header{
	width: 96.5vw;
	height: 5vh;
	/*background-image: url("../img/pawPrints.png");*/
	border: medium black solid;
	margin: 0 .5vw .5vh 0;
}

#pawPrints{
	height:inherit;
	width:inherit;
	opacity: .25;
	position: relative;
}

header > h1{
	position: absolute;
	width: inherit -22%;
	top: -1%;
	left: 22%;

}

.navBar > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	align-content: center;
	width: 97.5vw;
}

li.navlist{
	text-align: center;
	float: left;
}

li.navList > a{
	height: 2vh;
	width: 24vw;

	background-color: aqua;
	border: medium black solid;
	margin: .28% 1% .25% 1%;
	padding: 3%;
	text-align: center;
	display: inline-block;
	float: left;
}

#main{
	width: 96.5vw;
	height: 70.5vh;
	margin: .5vh .5vw .5vh 0vh;
	border: medium black solid;
}

footer{
	text-align: center;
	height: 14vh;
	border: medium black solid;
}
