body{
  	font-family: Georgia serif;
}

/* An animated header with the company name*/
@keyframes pawprints{
  0%{width:100%;}
  100%{width:0%;}
}

header{
  text-align: center;
  height: 7%;
}

.mask{
  width: 100%;
  height: 7%;
  position: absolute;
  top: 0;
  right: -0;
  background-color: white;

  animation-name: pawprints;
  animation-duration: 10s;
  animation-iteration-count: 1;
}


header::before {
	content: "";
	background: url("../img/pawPrints.png");
	opacity: .25;
	position: absolute;
	height: 7%;
	width: 98%;
	top: 0;
	left: 1%;
}

header > h1{
}


/* Positions the navigation bar across the top of the page*/
.navBar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	align-content: center;
  background-color: grey;
}

li.navlist {
	text-align: center;
	float: left;
}

li.navList > a {
	background-color: aqua;
	padding: 3%;
	text-align: center;
	display: inline-block;
	float: left;
}
li.navlist > a::after {
  float: clear;
}

/* Styles the main section of the index page*/
#main{
  text-align: center;
}

/* Styles the footer on the index, specificaly making it bottom center*/
footer{
  text-align: center;
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Styles the Shopping Cart page */
form{
	padding: .5%;
	margin:.5%;
	width: inherit;
	min-height: inherit;
	text-align: center;
	border: thin black solid;
	position: relative;
}

table{
	padding: .25%;
	min-width: 98.5%;
}

tr{
	min-width: 100%;
	padding: .25%;
}

td{
	min-width: inherit;
	height: 3rem;
}

input{
	font: inherit;
	width: 100%;
	margin: .5%;
	display: block;
	padding: .5%;
	border: thin black solid;
}

th{
	font-weight: bolder;
	border: medium black solid;
}

#invBody > tr > td{
	border: thin black solid;
}

#invBody tr:nth-child(even){
	background: lightgreen;
}

#invoice > table{
	border: thin black solid;
}

.money{
	text-align: left;
}

.money::before{
	content: '$'
}

#submit{
	height: 5vh;
	bottom: 0;
	width: 95.5vw;
}
